<?xml version="1.0" encoding="UTF-8"?>
<CONFIG COS="0,9" U="5" IK35="17,3" IK110="5,6" IK220="2,9" IK330="1,9" IK500="1,3">
    <TK>
        <tk T="-5" K="1,29"/>
        <tk T="0"  K="1,24"/>
        <tk T="5"  K="1,2"/>
        <tk T="10" K="1,15"/>
        <tk T="15" K="1,11"/>
        <tk T="20" K="1,05"/>
        <tk T="25" K="1"/>
        <tk T="30" K="0,94"/>
        <tk T="35" K="0,88"/>
        <tk T="40" K="0,81"/>
    </TK>
    <VL M="АС, АСКС, АСК, АСКП">
        <vl S="10/1,8" I="84"/>
        <vl S="16/2,7" I="111"/>
        <vl S="25/4,2" I="142"/>
        <vl S="35/6,2" I="175"/>
        <vl S="50/8"   I="210"/>
        <vl S="70/11"  I="265"/>
        <vl S="95/16"  I="330"/>
        <vl S="120/19" I="390"/>
        <vl S="120/27" I="375"/>
        <vl S="150/19" I="450"/>
        <vl S="150/24" I="450"/>
        <vl S="150/34" I="450"/>
        <vl S="185/24" I="520"/>
        <vl S="185/29" I="510"/>
        <vl S="185/43" I="515"/>
        <vl S="240/32" I="605"/>
        <vl S="240/39" I="610"/>
        <vl S="240/56" I="610"/>
        <vl S="300/39" I="710"/>
        <vl S="300/48" I="690"/>
        <vl S="300/66" I="680"/>
        <vl S="330/27" I="730"/>
        <vl S="400/22" I="830"/>
        <vl S="400/51" I="825"/>
        <vl S="400/64" I="860"/>
        <vl S="500/27" I="960"/>
        <vl S="500/64" I="945"/>
        <vl S="600/72" I="1050"/>
        <vl S="700/86" I="1180"/>
    </VL>
    <VL M="М">
        <vl S="95/16"  I="422"/>
        <vl S="120/19" I="485"/>
	<vl S="150/19" I="570"/>
	<vl S="185/24" I="650"/>
	<vl S="240/32" I="760"/>
	<vl S="300/39" I="880"/>
	<vl S="400/22" I="1050"/>
    </VL>
</CONFIG>
